@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./fonts/jetbrains-mono.scss";

:root {
   --theme-primary: #1a73e8;
   --theme-accent: #fbff0d;
}

::selection {
   background-color: var(--theme-accent);
   color: black;
}

html {
   min-width: 360px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}
